.about-us {
    margin-top: 3em;
    padding: 1.5rem;
}

.about-us-header > h2 {
    text-transform: capitalize;
    font-size: 2rem;
}

.about-us-img-container {
    margin: 2.5em 0;
}
.about-us-img-container > img {
    width: 100%;
}

.about-us-para{
    font-size: .85rem;
    line-height: 25px;
}

.make-reservation {
    display: inline-block;
    margin-top: 2em;
    padding: 12px 0;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 878px){

   .about {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
    }

    .about-us-img-container {
        flex: .5;
    }

    .about-us-content {
        padding: 1.5em;
        flex: .5;
    }
}

@media (min-width: 1060px){

    .about-us {
        padding: 1em 3em;
    }

    .about {
        padding-left: 4em;
    }

    .about-us-header > h2 {
        font-size: 40px;
    }

    .about-us-img-container {
         flex: .5;
     }

    .about-us-para {
        line-height: 35px;
     }
 
    .about-us-content {
        padding: 1.5em 4em;
        margin: 0 5em;
     }
 }