.locations {
    margin-top: 3em;
    padding: 1em;
}

.line {
    width: 50px;
    height: 7px;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.locations-header-container > h2 {
    text-transform: capitalize;
    font-size: 2.1rem;
}

@media (min-width: 1060px){

    .locations-header-container > h2 {
        font-size: 40px;
    }

    .locations {
        padding: 1em 3em;
    }
}

.available-countries {
    margin-top: 2.5em;
}

.available-countries > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.available-countries > ul li {
    margin-bottom: 1em;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.search-for-branch {
    margin-top: 2em;
}

.available-countries > ul li .MuiSvgIcon-root{
    color: #EA4335;
    margin-right: .3em;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-input {
    padding: .5em;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
}

.search-input > input {
    width: 100%;
    border: none;
    outline-width: 0;
}

.search-results {
    margin-top: 2em;
    font-size: .9rem;
    text-align: center;
}

.search-results > ul {
    list-style: none;
}

.search-results > ul li {
    padding: 1.5em;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid #fff;
}

@media (min-width: 1060px){

    .search-input {
        width: 25%;
    }
}

