main {
    padding: 1.5em 1em;
}

.welcome-content__header,
.welcome-content__message{
    margin-bottom: 1.5em;
}

.welcome-content__message {
    font-size: .85rem;
    line-height: 25px;
    margin-bottom: 2em;
}

.reservations-btn-container {
    display: flex;
    justify-content: space-between;
}

.reservations-btn-container > a{
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 12px 10px;
    border-radius: 5px;
}


/* Hide the image on mobile view */
.illustration-container  {
    display: none;
}