main {
    padding: 1.5em 1em;
}

.welcome-content__header,
.welcome-content__message{
    margin-bottom: 1.5em;
}

.welcome-content__message {
    font-size: .85rem;
    line-height: 25px;
    margin-bottom: 2em;
}

.reservations-btn-container {
    display: flex;
    justify-content: space-between;
}

.reservations-btn-container > a{
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 12px 10px;
    border-radius: 5px;
}


/* Hide the image on mobile view */
.illustration-container  {
    display: none;
}

@media (min-width: 842px){

    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome-content {
        margin-right: 2em;
    }


    .illustration-container {
        display: flex;
        justify-content: center;
    }

    .illustration-container > img {
        width: 70%;
        
    }
}

@media (min-width: 1060px) {


    .welcome-content {
        position: relative;
        top: 2em;
        align-self: flex-start;
        flex: .4;
    }

    .illustration-container {
        flex: .6;
    }

    .welcome-content__header {
        font-size: 2.5rem;
        margin-bottom: 1.2em;
    }

    .welcome-content__message {
        margin-bottom: 3em;
        line-height: 30px;
    }

}