.stats {
    padding: 1.5em;
    background-color: #FAF9F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3em;
}

.stat {
    padding: 1.5em;
    width: 70%;
    margin: 2em auto;
}

.stat-img-container {
    display: flex;
    justify-content: center;
}

.stat-img-container > img {
    width: 60%;
}

.stat-value {
    text-align: center;
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

@media (min-width: 694px){

    .stat-img-container > img {
        width: 40%
    }
}

@media (min-width: 838px){

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1090px){

    .stats {
        padding: 0;
    }

    .stat {
        padding: 0;
    }

    .stat-img-container > img {
        width: 20%;
    }
}